html {
    background-color: rgb(0, 0, 0);
}

#console{
	border: 2px solid black;
    background-color: rgb(47, 70, 45);
    padding: 10px;
    border-radius: 25px;
    width: 700px;
    margin:25px 20% 0 20%;
}

#board {
    border-radius: 5px;
    font-size: 25px;
    background-color: white;
    padding:10px;
	  margin:20px 5%;
    width: 87%;
    float:left; 
    overflow: auto;
    min-height:320px;
}

select {
    width: 95%;
    font-size: 25px;
    background-color:white;
    padding-top: 0px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
}

select:hover {
	background-color:magenta;
}

button {
    width: 90%;
    height: 40px;
    font-size: 25px;
    margin:20px 5%;
}
button:hover {
    background-color:magenta;
}

button:active {
    background-color:yellow;
}

/* Graphic Mastermind Model CSS */

.m { background-color:magenta; }
.g { background-color:green; }
.c { background-color:cyan; }
.r { background-color:red; }
.w { background-color:white; }
.b { background-color:black;color:white; }
.y { background-color:yellow; }


#turns li {
    list-style:none;
    list-style-type:none;
    list-style-image:none;
}

.turn {
    margin-left:-50px;
    clear:both;
    padding-top:15px;
}

.turn li {
  float: left;
  margin-left: 5px;
  width: 30px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid #999;
}

.turn :nth-child(4) {
   margin-right:20px;
}
